name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Ensures full history is checked out

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    
    # Cache dependencies to speed up the build
    - name: Cache Maven dependencies
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository  # Maven's local repository cache
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}  # Use pom.xml as the cache key
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Build with Maven
      run: mvn clean package --file pom.xml --batch-mode --no-transfer-progress  # Added flags for more verbose output

    # Upload the built artifact
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: gapplecrafter-jar
        path: target/*.jar

    # Optional: Update dependency graph
    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
